
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Arabic:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Beastly&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-color: #f5f5f5;
    font-family: "Open Sans";
   
   
}
:root {
    --primary: #d4af37;
    --primary-foreground: #000;
    --secondary: #121212;
    --secondary-foreground: #fff;
    --accent: #c5a028;
    --accent-foreground: #000;
    --background: #f5f5f7;
    --foreground: #121212;
    --card: #fff;
    --card-foreground: #121212;
    --border: #e5e7eb;
--color-red-500: lab(55.4814% 75.0732 48.8528);
        --color-orange-500: lab(64.272% 57.1788 90.3583);
        --color-yellow-500: lab(76.3898% 14.5258 98.4589);
        --color-green-500: lab(70.5521% -66.5147 45.8073);
        --color-blue-500: lab(54.1736% 13.3369 -74.6839);

}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 536px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 952px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1160px;
    }
  }

  body {
  background: white;
  color: black;
  transition: 0.5s;
  a{
    color: #000;
  }
}

/* دارك مود */
body.dark {
  background: black;
  color: white;
  a{
    color: #fff;
  }
}


 


  .header{
     position: sticky;
    top: 0;
    left: 0;
    width: 100%; 
    height: 65px;
    /* background: color-mix(in oklab,var(--secondary-foreground)60%,transparent); */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 100;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
        height: 64px;
        margin: 0 35px;
        padding: 0 16px;
        .btn-sun{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 145px;
            height: 36px;
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 93px;
                height: 36px;
                font-size: 14px;
                font-weight: 800;
                color: #000000;
                background: #d4af37;
                padding: 0 16px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
            button:hover{
                background-color: #e4c205f8;
                transition: .5s;
            }
            i{
                cursor: pointer;
            }
        }
        .menu{
            cursor: pointer;
            display: none;
            i{
                font-size: 20px;
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            width: 271px;
            height: 20px;
            li{
             margin-right: 20px;
            
              
             a{
                width: 43px;
                height: 20px;
                /* color: #121212; */
                font-size: 15px;
                font-weight: 700;
                  padding: 5px 0;
                 border-bottom: 2px solid transparent ;
             }
            }
            li:hover{
              
                a{
                     color: #d4af37;
                    border-bottom: 2px solid #c5a028 ;
                padding: 5px 0;
                 transition: .5s;
                   
                }
            }
        }
        .logo{
            display: flex;
            align-items: center;
            width: 94px;
            height: 40px;
            gap: 2px;
            cursor: pointer;
            img{
            width: 40px;
            height: 40px;
            }
            p{
                font-size: 24px;
                width: 46px;
                height: 32px;
                color: #d4af37;
                font-weight: 800;
            }
        }
    }
  }

  @media(max-width: 766px ){
    .header{
       
        width: 750px;
        .container{
             width: 640px;
            position: relative;
            margin: 0;
           .links{
       width: 100%;
     background: color-mix(in oklab,var(--secondary-foreground)20%,transparent);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

        height: max-content;
        display: flex;
        align-items: end;
        flex-direction: column;
       padding: 20px;
       position: absolute;
       top:108%;
       z-index: 100;
       right: 10px;
       transition: 1s;
       li{
        a{
            font-size: 20px;
            font-weight: 600;
        }
       }
       li:hover{
        a{
            color: #d4af37;
            transition: .5s;
        }
       }
      
       
    }
    .btn-sun{
        button{
            display: none;
        }
    }
    .menu{
        display: block;
        cursor: pointer;
      
       
    }

        }
    }
  }

  @media(max-width: 400px){
    .header{
          width: 385px;
        .container{
            width: 385px;
        height: 64px;
        padding: 0 16px;
        .btn-sun{
            width: 108px;
            height: 36px;
        }
        }
    }
  }

  .main-section{
   display: flex;
   flex-direction: column;
   gap: 16px;
   width: 1351px;
   z-index: 100;
   
   padding: 0 0 64px; 


    .landing{
    width: 1351px;
    height: 828px;
    padding: 160px 0;
    .container{
        max-width: 1280px;
        height: 508px;
        margin: 0 35px;
        padding: 0 16px;
        text-align: center;
        .hed-text{
            max-width: 1248px;
            height: 70px;
            cursor: pointer;
            span{
                max-width: 283px;
                height: 38px;
                /* color: #000000; */
                font-size: 12px;
                margin: 0 0 32px;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid #c5a028;
                box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
                      background-color: color-mix(in oklab, var(--primary) 20%, transparent);
            }
            span:hover{
                   background-color: color-mix(in oklab, var(--primary) 30%, transparent);
                   transition: .5s;
            }
        }
        .text{
            
            h1{
                max-width:900px;
                height: 180px;
              
                /* color: #121212; */
                font-size: 72px;
                margin: 0 112px 32px;
                span{
                    max-width: 518px;
                    height: 96px;
                    color: gold;
                }
            }
            p{
                max-width: 600px;
                height: 78px;
                /* color: #121212; */
                font-size: 24px;
                margin: 0 288px 18px;
                font-weight: 500;
            }
            span.til{
                max-width: 576px;
                height: 28px;
                font-size: 18px;
                /* color: #121212; */
                margin: 0 336px 48px;
                display: block;

            }
        }
        .btns{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            width: 1248px;
            height: 56px;
            text-align: center;
            a{
            
                display: flex;
                align-items: center;
                justify-content: center;
                width: 160px;
                height: 56px;
                color: #d4af37;
                font-size: 18px;
                padding: 0 32px;
                border: 2px solid #c5a028;
                border-radius: 10px;
                font-weight: 500;
            }
            a.active{
                background-color: #c5a028;
                color: #121212;
            }
            a:hover{
                border: none;
                background-color: #c5a028;
                transition: .8s;
                color: #121212;
            }
        }

    }
  }

  }


  @media(max-width: 766px ){
    .main-section{
       width: 750px;
    .landing{
        width: 750px;
        height: 687px;
        padding: 96px 0;
        .container{
            width: 640px;
            height: 495px;
            margin: 0 55px;
            padding: 0 16px;
            .hed-text{
                width: 608px;
                height: 70px;
                span{
                    width: 283px;
                    height: 38px;
                    margin: 0 0 32px;
                    padding: 10px 20px;
                }
            }
            .text{
                h1{
                    max-width: 600px;
                    height: 180px;
                    margin: 0 0 32px;
                    font-size: 48px;
                }
                p{
                    max-width: 600px;
                    height: 65px;
                    margin: 0 0 16px;
                    font-size: 20px;
                }
                span.til{
                    max-width: 560px;
                    height: 28px;
                    font-size: 18px;
                    margin: 0 16px 48px;
                }
            }
            .btns{
                max-width: 600px;
                height: 56px;
                
            }
        }
    }
        
    }
  }

  @media(max-width: 400px){
    .main-section{
        width: 400px;width: 385px; padding: 0 0 64px;
        text-align: center;
        .landing{
            width: 385px;
             .container{
            width: 385px;
            height: 603px;
            padding: 0 16px;
            text-align: center;
            margin: 0;
            .hed-text{
                width: 353px;
                height: 70px;
                span{
                    width: 283px;
                    height: 38px;
                    font-size: 12px;
                }
            }
            .text{
               max-width: 353px;
                h1{
                    max-width: 353px;
                    height: 180px;
                    font-size: 48px;
                    margin: 0 0 32px;
                }
                p{
                   width: 353px;
                    height: 65px;
                    font-size: 20px;
                    margin: 0 0 16px;
                }
                span.til{
                    width: 353px;
                    height: 56px;
                    font-size: 18px;
                    margin: 0 0 48px;
                }
            }
            .btns{
                width: 353px;
                height: 136px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
        }
       
    }
  }
  
  .subscribe-section{
    width: 1022px;
    height: 424px;
    margin: auto;
    text-align: center;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.199);
     .container{
        .subscribe-content{
            padding: 40px;
            h2{
                width: 862px;
                height: 48px;
                /* color: #121212; */
                margin: 0 0 24px;
                font-size: 48px;
            }
            .main-desc{
                width: 672px;
                height: 28px;
                font-size: 20px;
                /* color: #121212; */
                margin: 0 95px 32px;
            }
            .small-note{
                width: 862px;
                height: 20px;
                font-size: 14px;
                margin: 0 0 24px;

            }

            
        }
        .form-wrapper{
                .form-group{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 513px;
                    height: 56px;
                    margin: 0 175px 16px;
                    button{
                        width: 151px;
                        height: 56px;
                        padding: 0 32px;
                        font-size: 18px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        background-color: #c5a028;
                    }
                    input{
                        width: 344px;
                        height: 56px;
                        padding: 8px 16px;
                                /* background-color: color-mix(in oklab, var(--background) 50%, transparent); */
 border: 1px solid #718096;
 border-radius: 10px;
 outline: none;
}
    input::placeholder{
        text-align: end;
    }
    
                }
            }
     }
  }


  

 

